%h1 Log in

- if session[:error]
  = session.delete(:error)

#login_form
  %form{:action => "/login", :method => "post"}
    %p
      %label{:for => "username"} Your username
      %input{:type => "text", :name => "username", :id => "username"}/
    %p
      %label{:for => "password"} Your password
      %input{:type => "password", :name => "password", :id => "password"}/
    %p
      %button{:type => "submit"}
        Start session
