%h1
  Sign up here

- errors_on @user do |error|
  - error.on [:username, :not_present], "Mind providing a username?"
  - error.on [[:username], :not_unique] do
    %li
      = "Someone else owns the username “#{@user.username}”."
      %a(href="/login?username=#{@user.username}") Maybe it's you?
  - error.on [:password, :not_present], "We won't be able to authenticate you if you don't provide a password."

%form(action="/signup" method="post")
  %p
    %label(for="user_username") Choose a username
    %br
    %input(type="text" name="user[username]" id="user_username" value="#{@user.username}")/

  %p
    %label(for="user_password") And a password
    %br
    %input(type="password" name="user[password]" id="user_password")/

  %p
    %input(type="submit" value="Sign up")/
